In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Store CSV into DataFrame
csv_file = "Resources/netflix_titles.csv"
netflix_data_df = pd.read_csv(csv_file)
netflix_data_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [4]:
#Create new data with select columns
new_netflix_df = netflix_data_df[["show_id", "type", "title", "date_added", "rating", "duration", "listed_in"]]
new_netflix_df.dropna(inplace=True)
new_netflix_df

C:\Users\Chamberlain\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,show_id,type,title,date_added,rating,duration,listed_in
0,81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,90 min,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,94 min,Stand-Up Comedy
2,70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,1 Season,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,1 Season,Kids' TV
4,80125979,Movie,#realityhigh,"September 8, 2017",TV-14,99 min,Comedies
...,...,...,...,...,...,...,...
6218,80162994,TV Show,Talking Tom and Friends,"April 10, 2019",TV-G,2 Seasons,"Kids' TV, TV Comedies"
6219,80186475,TV Show,Pokémon the Series,"April 1, 2019",TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV"
6220,70272742,TV Show,Justin Time,"April 1, 2016",TV-Y,2 Seasons,Kids' TV
6221,80067942,TV Show,Terrace House: Boys & Girls in the City,"April 1, 2016",TV-14,2 Seasons,"International TV Shows, Reality TV"
6222,70136122,TV Show,Weeds,"April 1, 2014",TV-MA,8 Seasons,"TV Comedies, TV Dramas"

In [5]:
#Movie DataFrame
netflix_movies_df = new_netflix_df.loc[new_netflix_df["type"]=="Movie"]
netflix_movies_df.set_index("show_id", inplace=True)
netflix_movies_df.head()

,type,title,date_added,rating,duration,listed_in
show_id,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,90 min,"Children & Family Movies, Comedies"
80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,94 min,Stand-Up Comedy
80125979,Movie,#realityhigh,"September 8, 2017",TV-14,99 min,Comedies
70304989,Movie,Automata,"September 8, 2017",R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers"
80164077,Movie,Fabrizio Copano: Solo pienso en mi,"September 8, 2017",TV-MA,60 min,Stand-Up Comedy

In [6]:
#TV Show DataFrame
netflix_tvshow_df = new_netflix_df.loc[new_netflix_df["type"]=="TV Show"]
netflix_tvshow_df.set_index("show_id", inplace=True)
netflix_tvshow_df.head()

,type,title,date_added,rating,duration,listed_in
show_id,,,,,,
70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,1 Season,Kids' TV
80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,1 Season,Kids' TV
80163890,TV Show,Apaches,"September 8, 2017",TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis..."
80117902,TV Show,Fire Chasers,"September 8, 2017",TV-MA,1 Season,"Docuseries, Science & Nature TV"
80244601,TV Show,Castle of Stars,"September 7, 2018",TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ..."

In [7]:
#Connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/netflix_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
#Check for tables
engine.table_names()

['netflix_movies', 'netflix_tvshows']

In [9]:
#Use pandas to loan csv converted DataFrame into database
netflix_movies_df.to_sql(name='netflix_movies', con=engine, if_exists='append', index=True)
netflix_tvshow_df.to_sql(name='netflix_tvshows', con=engine, if_exists='append', index=True)

In [10]:
pd.read_sql_query("select * from netflix_movies",con=engine)

,show_id,type,title,date_added,rating,duration,listed_in
0,81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,90 min,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,94 min,Stand-Up Comedy
2,80125979,Movie,#realityhigh,"September 8, 2017",TV-14,99 min,Comedies
3,70304989,Movie,Automata,"September 8, 2017",R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers"
4,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"September 8, 2017",TV-MA,60 min,Stand-Up Comedy
...,...,...,...,...,...,...,...
8509,80093107,Movie,Toro,"April 1, 2017",NR,106 min,"Dramas, International Movies, Thrillers"
8510,80085438,Movie,Frank and Cindy,"April 1, 2016",TV-MA,70 min,Documentaries
8511,80085439,Movie,Frank and Cindy,"April 1, 2016",R,102 min,"Comedies, Dramas, Independent Movies"
8512,80011846,Movie,Iverson,"April 1, 2016",NR,88 min,"Documentaries, Sports Movies"
8513,80064521,Movie,Jeremy Scott: The People's Designer,"April 1, 2016",PG-13,109 min,Documentaries

In [14]:
pd.read_sql_query("select * from netflix_tvshows",con=engine)

,show_id,type,title,date_added,rating,duration,listed_in
0,70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,1 Season,Kids' TV
1,80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,1 Season,Kids' TV
2,80163890,TV Show,Apaches,"September 8, 2017",TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis..."
3,80117902,TV Show,Fire Chasers,"September 8, 2017",TV-MA,1 Season,"Docuseries, Science & Nature TV"
4,80244601,TV Show,Castle of Stars,"September 7, 2018",TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...
3909,80162994,TV Show,Talking Tom and Friends,"April 10, 2019",TV-G,2 Seasons,"Kids' TV, TV Comedies"
3910,80186475,TV Show,Pokémon the Series,"April 1, 2019",TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV"
3911,70272742,TV Show,Justin Time,"April 1, 2016",TV-Y,2 Seasons,Kids' TV
3912,80067942,TV Show,Terrace House: Boys & Girls in the City,"April 1, 2016",TV-14,2 Seasons,"International TV Shows, Reality TV"
3913,70136122,TV Show,Weeds,"April 1, 2014",TV-MA,8 Seasons,"TV Comedies, TV Dramas"